/*CSS RESET*/
*	{
	margin: 0;
	padding: 0;
	box-sizing:  border-box;
}

body	{
	font-family: 'Open Sans', sans-serif;
	/*alternative fonts:  serif, cursive, fantasy, monospace*/
}

nav	{
	/*0.8 rem = 12.08 px based on the root element*/
	/*shorthand property*/
	padding: 0.8rem;
	/*properties that make up padding property
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	*/

	/*creates the space between the nav and intro section*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;


}
/*child selector*/
nav > ul > li	{
	/* remove bullet points */
	list-style-type: none;
}

/*descendant*/
nav .nav, nav .nav-logo	{
	margin: 0.5rem;
	/*display elements turn into inline elements, default behavior of li is block element*/
	display: inline;
}

#intro	{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/* shorthand property
	padding: top left&right bottom */
	text-align: center;
}

.header	{
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button	{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	border:  0 none;
}

#succeed-info	{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/* shorthand property
	padding: top left&right bottom */
	text-align: center;
}


#succeed-info h2	{
	margin-bottom: 1rem;
}
#succeed-info h3	{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	/*kapag inline, di mo maninipulate ang size and height
	  pag inline-block mamanipulate mo yung width and height*/
	display: inline-block;
	/*follows the tallest element, magpapantay pantay*/
	vertical-align: top;
	/*gap between cards*/
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer	{
	padding: 0.7rem;
}

footer span {
	margin-left:  0.5rem;
	margin-right: 0.5rem;
	/*margin:  top&bottom, left&right*/
}

#pre-footer {
	background-color: #002540;
	padding-left: 10px;

}

#pre-footer div	{
	display: inline-block;
	color: white;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 310px;
	vertical-align: top;

}

#pre-footer h3	{
	margin-top: 1rem;
	margin-bottom: .7rem;
}
#pre-footer p	{
	padding-bottom: .5rem;
}